{% extends 'admin/change_form.html' %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'django_tutalk/css/participant_list.css' %}" />
{% endblock %}

{% block bulk_admin_forms %}

  <div>
    <form action="{% url 'tutalk:bulk-add-change-participants' section_id=original.pk %}" method="POST">
      {% csrf_token %}
      <table>
      <caption>Bulk Create/Update Participants</caption>
      {{ bulk_add_change_form.as_table }}
      </table>
      <button type="submit">Submit</button>
    </form>
  </div>

{% comment %}
              {{ bulk_add_change_form.non_field_errors }}
              <span class="fieldWrapper">
                {{ bulk_add_change_form.first_uid.errors}}
                {{ bulk_add_change_form.first_uid.label_tag }}
                {{ bulk_add_change_form.first_uid }}
              </span>
              <span class="fieldWrapper">
                {{ bulk_add_change_form.last_uid.errors}}
                {{ bulk_add_change_form.last_uid.label_tag}}
                {{ bulk_add_change_form.last_uid }}
              </span>
              <span class="fieldWrapper">
                {{ bulk_add_change_form.action.errors }}
                {{ bulk_add_change_form.action.label_tag }}
                {{ bulk_add_change_form.action }}
              </span>
              <fieldset style="border: 0;">
                <legend>
                  Select conditions and specify the order you wish to map them across participants
                </legend>
                {{ bulk_add_change_form.conditions.errors }}
                {{ bulk_add_change_form.conditions }}
              </fieldset>
      {% endcomment %}
      <br/>

      <div>
        <form action="{% url 'tutalk:bulk-delete-participants' section_id=original.pk %}" method="POST">
          {% csrf_token %}
          <table>
            <caption>Bulk Delete Participants</caption>
            {{ bulk_delete_form.as_table }}
          </table>
          <button type="submit">Submit</button>
        </form>
      </div>
{% comment %}
              {{ bulk_delete_form.non_field_errors }}
              <span class="fieldWrapper">
                {{ bulk_delete_form.first_uid.errors }}
                {{ bulk_delete_form.first_uid.label_tag}}
                {{ bulk_delete_form.first_uid }}
              </span>
              <span class="fieldWrapper">
                {{ bulk_delete_form.last_uid.errors }}
                {{ bulk_delete_form.last_uid.label_tag }}
                {{ bulk_delete_form.last_uid }}
              </span>
{% endcomment %}

{% endblock bulk_admin_forms %}